
<div class="landing-box">
<section>
  <!-- <form ui-sref="graph" ng-click="stations.getStation(station._id)"> -->
  <div class="selected-station">
    <label for="inputSelectStation">Select Station: </label> 
    <select name="inputSelectStation" ng-model="data.inputSelectStation">
    <option ng-repeat="station in stations.all" value="{{station._id}}">{{station.name}}</option>
    </select>
    <br>
    <label for="inputSelectArrive">Select Arrive: </label>
    <input name="inputSelectArrive" ng-model="data.inputSelectArrive" type="time" min="05:30" max="23:50" step="300"> 
    <br>
    <button class="button" ui-sref="graph" ng-click="stations.getStation(data)">Go</button>
  </div>
</section>
</div>



<!-- <section>
  <ul id="stations">
    <div>
      <li class="" ng-repeat="station in stations.all" data-id="{{ station._id }}">{{ station.name }}
      <a ui-sref="graph"
        ng-click="stations.getStation(station._id)">link</a>
      </li>
    </div>
  </ul>
    
</section> -->